<div *ngIf="team">
  <app-heroes-add-form
    [team]="team"
    [showModal]="showModal"
  ></app-heroes-add-form>

  <div class="row">
    <div class="col-sm-8">
      <h4>Magnificent team {{team.name}}!</h4>
      <h5>Heroes</h5>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-success" (click)="addHeroModal()" appCheckUserPermission>Add hero to team</button>
    </div>
  </div>

  <app-team-heroes-list
    [team]="team"
    [accessToEdit]="accessToEdit"
  ></app-team-heroes-list>

</div>
