<h2>Tour of Heroes</h2>
<nav class="nav">
  <div class="start-section">
    <button type="button" class="btn btn-outline-primary" routerLink="/dashboard" routerLinkActive="active-link" >Dashboard</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/list" routerLinkActive="active-link" >Heroes</button>
    <button type="button" class="btn btn-outline-primary" [routerLink]="['team', 'list']" routerLinkActive="active-link" >Teams</button>
  </div>

  <div class="end-section">
    <button type="button" class="btn btn-outline-success" [routerLink]="loginLogoutUrl" routerLinkActive="active-link">{{loginLogoutText}}</button>
  </div>
</nav>
