<div *ngIf="team">
  <div *appOpenModal="showModal">
    <div class="layout"></div>
    <app-heroes-add-form [team]="team"></app-heroes-add-form>
    <div class="close-x" (click)="addHeroModal()"></div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <h4>Magnificent team {{team.name}}!</h4>
      <h5>Heroes</h5>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-success" (click)="addHeroModal()">Add hero to team</button>
    </div>
  </div>

  <div class="hero-container">
    <div
      *ngFor="let hero of team.members"
      class="hero-item"
      appRemoveHero
      (click)="removeHero(hero)"
    >
      {{hero.name}}
    </div>
  </div>

</div>
